*~
*.o
*.lo
*.pyc
*.pyo
.#*
\#*
*.dSYM
*.gcov
*.gcda
*.gcno
*.hi
*.swp
test*.log
test*.trs

.libs
.deps
.dirstamp
stamp-h1
/autom4te.cache
/compile
/config.log
/config.status
/config.guess
/config.sub
/configure
/depcomp
/Makefile
/Makefile.in
/aclocal.m4
/install-sh
/libtool
/ltmain.sh
/missing
/test-driver

/libottery.la
/libottery.a
/libottery.pc
/libchacha-ssse3.la
/libchacha-sse2.la

/ottery-*.tar.gz

/doxygen

/src/ottery-config.h
/src/ottery-config.h.in

/test/test_spec
/test/test_spec.output
/test/test_vectors
/test/test_vectors.expected
/test/test_vectors.actual
/test/test_vectors.actual-midrange
/test/test_vectors.actual-nosimd
/test/bench_rng
/test/dump_bytes
/test/test_stateful
/test/test_memclear
/test/test_shallow
/test/test_deep
/test/hs/test_ottery
/test/hs/test_ottery.output
